head
    title Insta Pug
    //link(rel="stylesheet" href="./insta_css.css")
    link(rel="stylesheet" href="./touch.view.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
