body{
    margin: 0;
}
.main{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 26.8px 15.5px 24.6px 2.4px rgba(69, 36, 4, 0.2);
}
.content{
    position: relative;
    float: left;
    width:78.1%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.main_image {
    width:100%;
    height: 100%;
}
.main_title_short{
    width: auto;
    font-family: OTEnjoystoriesB;
    font-size: 15em;
    line-height: 0.38;
    letter-spacing: -16.9px;
    color: #ffffff;
    text-shadow: 4px 0 24.6px rgba(69, 36, 4, 0.3);
    -webkit-text-stroke: 1px #3b250f;
    position: absolute;
    top: 16%;
    left: 8%;
    margin: 0;
}
.main_title_middle{
    width: auto;
    font-family: OTEnjoystoriesB;
    font-size: 13em;
    line-height: 0.38;
    letter-spacing: -16.9px;
    color: #ffffff;
    text-shadow: 4px 0 24.6px rgba(69, 36, 4, 0.3);
    -webkit-text-stroke: 1px #3b250f;
    position: absolute;
    top: 16%;
    left: 8%;
    margin: 0;
}
.main_title_long{
    width: auto;
    font-family: OTEnjoystoriesB;
    font-size: 11em;
    line-height: 0.38;
    letter-spacing: -16.9px;
    color: #ffffff;
    text-shadow: 4px 0 24.6px rgba(69, 36, 4, 0.3);
    -webkit-text-stroke: 1px #3b250f;
    position: absolute;
    top: 16%;
    left: 8%;
    margin: 0;
}
.main_desc{
    width: 50%;
    height: 118px;
    font-family: OTEnjoystoriesB;
    font-size: 3em;
    line-height: 0.67;
    letter-spacing: -3.4px;
    color: #ffffff;
    text-shadow: 4px 0 24.6px rgba(69, 36, 4, 0.3);
    -webkit-text-stroke: 1px #3b250f;
    position: absolute;
    top: 33%;
    left: 8%;
    word-break: keep-all;
}
.main_price_image{
    position: absolute;
    bottom: 15%;
    left: 8%;
    background-image: url("./img/group-6.png");
    width: 12%;
    height: 40%;
}
.main_price_text{
    width: 23%;
    font-family: BMJUAOTF;
    font-size: 69.3px;
    line-height: 0.8;
    letter-spacing: -2.9px;
    text-align: center;
    color: #4e2909;
    position: absolute;
    top: 19%;
    left: 37%;
    word-break: break-all;
    font-weight: 900;
}
.main_info{
    width: auto;
    height: 22px;
    font-family: YDVYGOStd14;
    font-size: 23.7px;
    letter-spacing: -0.7px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(59, 59, 59, 0.83);
    position: absolute;
    bottom: 1.6%;
    right: 2%;
}
.aside{
    position: relative;
    top:0;
    float: right;
    width: 21.9%;
    height: 100%;
    box-shadow: 4px 0 24.6px 2.4px rgba(69, 36, 4, 0.3);
}
.aside_list{
    margin:5% 0 15% 0;
    height: 100%;
}
.aside_list_item{
    position: relative;
    float: left;
    width:100%;
    height:13%;
    margin: 0;
}
.aside_logo{
    position: absolute;
    bottom:11px;
    right:31px;
    width: 150px;
    height: 52px;
    object-fit: contain;
}
.aside_title{
    width:100%;
    float: left;
    margin: 10% 20% 2%;
    font-family: YDVYGOStd145;
    font-size: 1.8rem;
    letter-spacing: -1.2px;
    color: #7a6043;
    text-shadow: 4px 0 0 rgba(0, 0, 0, 0.75);
    -webkit-text-stroke: 2px #8e4d0c;
}
.aside_price{
    float: left;
    margin: 0 20% 5%;
    font-family: DIN;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -2.7px;
    text-align: right;
    color: #663910;
}
.blank{
    height: 3%;
}
.select_item{
    background-color: rgba(160, 145, 150, 0.5);
}